extends layout

block content
  h1 Fitness Tracker
  p.lead Help track fitness on web applications.
  hr
  .rowHeading
    .col-md-6
      h2 Overview
      p One of the most important things people can do for their health is to engage in regular physical activity. A life that includes exercise is one with less likelihood of serious physical and mental ailments. The benefits are wide-ranging, from stronger bones, greater lung power, and a healthier heart to a lower cancer risk, a sharper brain, and a happier spirit.Fitness is very important for your helath.  
      p
        
    .col-md-6
      h2 Cardio
      p It helps you burn fat and calories for weight loss. It makes your heart strong so that it doesn't have to work as hard to pump blood. It increases your lung capacity. It helps reduce your risk of heart attack, high cholesterol, high blood pressure, diabetes, and some forms of cancer. 
      p
        
    .col-md-6
      h2 Lifting
      p Regular participation in muscle strengthening activity such as weight or resistance training has many health benefits. However, this mode of exercise has been largely overlooked in Australian health promotion. Our recent research shows a large majority of Australians do not engage in muscle strengthening activity.
      p
       
    .col-md-6
      h2 Diet
      p A balanced diet is important because your organs and tissues need proper nutrition to work effectively. Without good nutrition, your body is more prone to disease, infection, fatigue, and poor performance. ... heart disease. cancer.
      p
        