BASE_URL=http://localhost:3000
MONGODB_URI=mongodb://admin:admin@cluster0-shard-00-00-i9vr9.mongodb.net:27017,cluster0-shard-00-01-i9vr9.mongodb.net:27017,cluster0-shard-00-02-i9vr9.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true&w=majority

SESSION_SECRET=Your Session Secret goes here

MAILGUN_USER=postmaster@sandbox697fcddc09814c6b83718b9fd5d4e5dc.mailgun.org
MAILGUN_PASSWORD=29eldds1uri6

SENDGRID_USER=hslogin
SENDGRID_PASSWORD=hspassword00


GOOGLE_ID=828110519058.apps.googleusercontent.com
GOOGLE_SECRET=JdZsIaWhUFIchmC1a_IZzOHb



